<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545021164365-jgv5adjq7umr95fgu7oaebj4u3iakpa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545021164365-jgv5adjq7umr95fgu7oaebj4u3iakpa7</string>
	<key>API_KEY</key>
	<string>AIzaSyCJEqGQ7BUn8p1fvBf7yp_-5epR89TX5S4</string>
	<key>GCM_SENDER_ID</key>
	<string>545021164365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.mirix.pyramide</string>
	<key>PROJECT_ID</key>
	<string>la-pyramide-54588</string>
	<key>STORAGE_BUCKET</key>
	<string>la-pyramide-54588.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545021164365:ios:7132567eb4fde7c7271504</string>
	<key>DATABASE_URL</key>
	<string>https://la-pyramide-54588-default-rtdb.firebaseio.com</string>
</dict>
</plist>